
<nav class="navbar navbar-expand-lg bg-body-white border-bottom bg-white sticky-top">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand pe-5" href="/home"><img src="/images/logo.png" alt="logo"></a>

            <form role="search" action="/userproducts/search" method="get" class="d-flex gap-2 me-5">
                <input type="text" class="form-control form-control-sm shadow-none" placeholder="Search..." style="width: 200px;"
                    name="searchItem" value="{{query}}" required>
                <button class="btn btn-outline-secondary btn-sm " type="submit">Search</button>
            </form>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active pe-5" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active pe-5" aria-current="page" href="/userproducts">All Products</a>
                  </a>
                </li>
            </ul>

            <ul class="navbar-nav mb-2 mb-lg-0 ">
                <li class="nav-item pe-4">
                    <a class="nav-link" href="#"><img src="/images/wishlist.png" alt="wishlist"></a>
                </li>
                <li class="nav-item pe-4">
                    <a class="nav-link" href="#"><img src="/images/cart.png" alt="cart"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/youraccount"><img src="/images/user.png" alt="profile"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>


    <div class="container py-5">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="fs-2">Change Password</h1>



                <form action="/youraccount/changepassword?_method=PATCH" method="post" id="changePasswordForm" class="align">
                    <div>
                    <input type="hidden" name="_method" value="PATCH">
                    <span class="text-danger">{{content}}</span>
                    <div class="form-floating mb-3 mt-4">
                        <input type="password" class="form-control shadow-none border" name="oldpassword"
                            id="floatingPassword_old" placeholder="Password">
                        <label for="floatingPassword_old">Old Password</label>
                        <span class="pass-eye" onclick="password_show_hide_old();">
                            <i class="fa fa-eye field-icon" id="show_eye_change"></i>
                            <i class="fa fa-eye-slash d-none field-icon" id="hide_eye_change"></i>
                    </div>

                    <div class="form-floating mb-3 mt-3">
                        <input type="password" class="form-control shadow-none border" name="newpassword"
                            id="floatingPassword_change" placeholder="Password">
                        <label for="floatingPassword_change">New Password</label>
                        <span class="pass-eye" onclick="password_show_hide();">
                            <i class="fa fa-eye field-icon" id="show_eye"></i>
                            <i class="fa fa-eye-slash d-none field-icon" id="hide_eye"></i>
                            <span id="passwordValidationMsg" class="float-end pt-1 pb-1 phone_validate"></span>
                            <span id="conPasswordValidationMsg" class="float-start mt-1 mb-1 phone_validate"></span>
                    </div>

                    <div class="form-floating mb-3 mt-3">
                        <input type="password" class="form-control shadow-none border"
                            id="floatingPasswordConfirm_change" placeholder="Password">
                        <label for="floatingPasswordConfirm_change">Confirm New Password</label>
                        <span class="pass-eye" onclick="password_show_hide_confirm();">
                            <i class="fa fa-eye field-icon" id="show_eye_confirm"></i>
                            <i class="fa fa-eye-slash d-none field-icon" id="hide_eye_confirm"></i>
                    </div>


                    <button type="submit" id="logIn" class="btn btn-dark py-3 btn2-size" disabled>Change
                        Password</button>
                    
                    </div>
                    <div class="text-center mt-3">
                        <a href="/forgot" class="text-decoration-none text-black">Forgot Password ?</a>
                    </div>
                    


                </form>

            </div>

        </div>
    </div>
</div>



<!--Footer-->

<div class="bg-black text-white mt-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6 pe-4">
                <img src="/images/Logo-dark.png" alt="logo">
                <p class="hf-p">We are a wolesale sports materials selling firm located in <br>ernakulam. Our shops
                    offers more than</p>

                <a class="text-decoration-none pe-4" href="#"><img src="/images/Twitter.png" alt="Twitter"></a>
                <a class="text-decoration-none pe-4" href="#"><img src="/images/Facebook.png" alt="Facebook"></a>
                <a class="text-decoration-none pe-4" href="#"><img src="/images/Instagram.png" alt="Instagram"></a>
            </div>
            <div class="col-md-3">
                <h5 class="hf-h5">Info</h5>
                <a class="text-decoration-none" href="#">
                    <p class="hf-p text-white">Contact Us</p>
                </a>
                <a class="text-decoration-none" href="#">
                    <p class="hf-p text-white">About Us</p>
                </a>
            </div>
            <div class="col-md-3">
                <h5 class="hf-h5">Assistance to the buyer</h5>
                <a class="text-decoration-none" href="#">
                    <p class="hf-p text-white">Find an order</p>
                </a>
                <a class="text-decoration-none" href="#">
                    <p class="hf-p text-white">Terms and conditions</p>
                </a>
                <a class="text-decoration-none" href="#">
                    <p class="hf-p text-white">Exchange and return of goods</p>
                </a>
                <a class="text-decoration-none" href="#">
                    <p class="hf-p text-white">Cookie policy</p>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 pt-5">
                <h5 class="text-center">© 2025 | SPORTS HUB | All Rights Reserved.</h5>
            </div>
        </div>

    </div>
</div>