<nav class="navbar navbar-expand-lg bg-body-white border-bottom bg-white sticky-top">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand pe-5" href="#"><img src="/images/logo.png" alt="logo"></a>

            <form role="search" action="/userproducts/search" method="get" class="d-flex gap-2 me-5">
                <input type="text" class="form-control form-control-sm shadow-none" placeholder="Search..." style="width: 200px;"
                    name="searchItem" value="{{query}}" required>
                <button class="btn btn-outline-secondary btn-sm " type="submit">Search</button>
            </form>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active pe-5" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2" href="#">New Arraival</a>
                </li>
            </ul>

            <ul class="navbar-nav mb-2 mb-lg-0 ">
                <li class="nav-item pe-4">
                    <a class="nav-link" href="#"><img src="/images/wishlist.png" alt="wishlist"></a>
                </li>
                <li class="nav-item pe-4">
                    <a class="nav-link" href="/cart"><img src="/images/cart.png" alt="cart"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/youraccount"><img src="/images/user.png" alt="profile"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>



<div class="container py-5">
  <h4 class="mb-4 fw-bold">Your Orders</h4>

  <!-- Order 1 -->
  <div class="border-bottom pb-4 mb-4">
    <div class="row align-items-center">
      <div class="col-md-2">
        <img src="/images/shoe-default.png" class="img-fluid" alt="Product Image">
      </div>
      <div class="col-md-5">
        <h6 class="">Yonex 1122 Fast Silver Badminton Frame</h6>
        <p class="mb-1 text-muted">Brand: Yonex</p>
        <p class="mb-1 text-muted">Color: White</p>
        <p class="mb-1 text-muted">Order Id: #53459538345</p>
      </div>
      <div class="col-md-3 text-end">
        <h6 class="fw-bold fs-5">₹ 8200</h6>
        <small class="text-muted">Delivery Expected By Sat April 12</small><br>
        <small class="text-primary fw-bold">Your Order Has Been Placed</small>
      </div>
      <div class="col-md-2 text-end">
        <button class="btn btn-outline-danger btn-md px-4">Cancel Order</button>
      </div>
    </div>

    <!-- Order Progress Bar -->
<div class="order-progress mx-5 mb-5">
  <div class="progress-line">
    <div class="step completed {{#if (gte status 1)}}completed{{/if}}" data-title="Order Placed" data-step="1"></div>
    <div class="step completed {{#if (gte status 2)}}completed{{/if}}" data-title="Shipped" data-step="2"></div>
    <div class="step {{#if (gte status 3)}}completed{{/if}}" data-title="Out for Delivery" data-step="3"></div>
    <div class="step {{#if (gte status 4)}}completed{{/if}}" data-title="Delivered" data-step="4"></div>
  </div>
</div>


  <!-- Order 2 -->
  <div class="border-top pt-5 pb-4 mb-4">
    <div class="row align-items-center">
      <div class="col-md-2">
        <img src="/images/jersey.png" class="img-fluid" alt="Product Image">
      </div>
      <div class="col-md-5">
        <h6 class="">Team Man Utd Jersey Set With Printed Shorts</h6>
        <p class="mb-1 text-muted">Brand: Team Man</p>
        <p class="mb-1 text-muted">Color: Pink</p>
        <p class="mb-1 text-muted">Order Id: #53459538345</p>
      </div>
      <div class="col-md-3 text-end">
        <h6 class="fw-bold fs-5">₹ 369</h6>
        <small class="text-muted">Delivered On Oct 8, 2024</small><br>
        <small class="text-success fw-bold">Your Item Has Been Delivered</small>
      </div>
      <div class="col-md-2 text-end">
        <button class="btn btn-outline-dark btn-md px-4">Return Order</button>
        <button class="btn btn-dark btn-md mt-2 px-3">Product Review</button>
      </div>
    </div>
  </div>
</div>
</div>

<!--Footer-->

<div class="bg-black text-white mt-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6 pe-4">
                <img src="/images/Logo-dark.png" alt="logo">
                <p class="hf-p">We are a wolesale sports materials selling firm located in <br>ernakulam. Our shops
                    offers more than</p>

                <a class="text-decoration-none pe-4" href="#"><img src="/images/Twitter.png" alt="Twitter"></a>
                <a class="text-decoration-none pe-4" href="#"><img src="/images/Facebook.png" alt="Facebook"></a>
                <a class="text-decoration-none pe-4" href="#"><img src="/images/Instagram.png" alt="Instagram"></a>
            </div>
            <div class="col-md-3">
                <h5 class="hf-h5">Info</h5>
                <a class="text-decoration-none" href="#">
                    <p class="hf-p text-white">Contact Us</p>
                </a>
                <a class="text-decoration-none" href="#">
                    <p class="hf-p text-white">About Us</p>
                </a>
            </div>
            <div class="col-md-3">
                <h5 class="hf-h5">Assistance to the buyer</h5>
                <a class="text-decoration-none" href="#">
                    <p class="hf-p text-white">Find an order</p>
                </a>
                <a class="text-decoration-none" href="#">
                    <p class="hf-p text-white">Terms and conditions</p>
                </a>
                <a class="text-decoration-none" href="#">
                    <p class="hf-p text-white">Exchange and return of goods</p>
                </a>
                <a class="text-decoration-none" href="#">
                    <p class="hf-p text-white">Cookie policy</p>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 pt-5">
                <h5 class="text-center">© 2025 | SPORTS HUB | All Rights Reserved.</h5>
            </div>
        </div>

    </div>
</div>